/* styles from https://codepen.io/t_afif/pen/MWZmGRo */
.slanted {
  --a: -45deg; /* control the angle */
  --t: 0.2em; /* thickness of the underline */
}

.slanted span {
  --_s: calc(var(--t) * cos(var(--a)));
  background: linear-gradient(var(--a), #0000 var(--_s), currentColor 0 calc(100% - var(--_s)), #0000 0)
    bottom/var(--i, 90%) var(--t) no-repeat;
  padding: 0 0.25em calc(var(--t) + 0.1em);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transition: 0.3s;
}
.slanted:hover span {
  --i: 150%;
}
